<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update book</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
            <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
        </a>

        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a href="/" class="nav-link px-2 link-secondary">Home</a></li>
            <li><a href="/books" class="nav-link px-2 link-dark">Book catalog</a></li>
            <li><a href="/account" class="nav-link px-2 link-dark">Account</a></li>
            <li><a href="/account/cart" class="nav-link px-2 link-dark">Shopping cart</a></li>
            <li><a href="" class="nav-link px-2 link-dark">About</a></li>
        </ul>

        <div class="col-md-3 text-end">
            <!--      <button type="button" class="btn btn-outline-primary me-2">Login</button>-->
            <!--      <button type="button" class="btn btn-primary">Sign-up</button>-->
            <button type="button" class="btn btn-outline-success and-all-other-classes">
                <a href="/login" style="color:inherit"> Sign in </a>
            </button>
            <button type="button" class="btn btn-outline-success and-all-other-classes">
                <a href="/registration" style="color:inherit"> Sign up </a>
            </button>
        </div>
    </header>
</div>
<form th:method="POST" th:action="@{/admin/update/{id}(id=${book.getId()})}" th:object = "${book}">
    <label for="name"> Enter name   :</label>
    <input type="text" th:field="*{name}" id="name">
    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>
    <br>
    <label for="author"> Enter author  :</label>
    <input type="text" th:field="*{author}" id="author">
    <div style="color:red" th:if="${#fields.hasErrors('author')}" th:errors="*{author}">Author error</div>
    <br>
    <label for="publisher"> Enter publisher :</label>
    <input type="text" th:field="*{publisher}" id="publisher">
    <div style="color:red" th:if="${#fields.hasErrors('publisher')}" th:errors="*{publisher}">Publisher error</div>
    <br>
    <label for="year"> Enter publishing year :</label>
    <input type="text" th:field="*{year}" id="year">
    <div style="color:red" th:if="${#fields.hasErrors('year')}" th:errors="*{year}">Year error</div>
    <br>
    <label for="plot"> Enter book description :</label>
    <input type="text" th:field="*{plot}" id="plot">
    <div style="color:red" th:if="${#fields.hasErrors('plot')}" th:errors="*{plot}">Name error</div>
    <br>
    <label for="branchName"> Enter branchName :</label>
    <input type="text" th:field="*{branchName}" id="branchName">
    <br>
    <label for="amount"> Enter amount :</label>
    <input type="text" th:field="*{amount}" id="amount">
    <br>
    <input type="submit" value="Update book"/>

</form>

</body>
</html>