<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
            <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
        </a>

        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a href="/" class="nav-link px-2 link-secondary">Home</a></li>
            <li><a href="/books" class="nav-link px-2 link-dark">Book catalog</a></li>
            <li><a href="/account" class="nav-link px-2 link-dark">Account</a></li>
            <li><a href="/account/cart" class="nav-link px-2 link-dark">Shopping cart</a></li>
            <li><a href="" class="nav-link px-2 link-dark">About</a></li>
        </ul>

        <div class="col-md-3 text-end">
            <!--      <button type="button" class="btn btn-outline-primary me-2">Login</button>-->
            <!--      <button type="button" class="btn btn-primary">Sign-up</button>-->
            <button type="button" class="btn btn-outline-success and-all-other-classes">
                <a href="/login" style="color:inherit"> Sign in </a>
            </button>
            <button type="button" class="btn btn-outline-success and-all-other-classes">
                <a href="/registration" style="color:inherit"> Sign up </a>
            </button>
        </div>
    </header>
</div>

<h1 th:text="${book.getName()} + '.'"> Name</h1>
<h3 th:text="${book.getAuthor()} + '. ' + ${book.getYear()}"> Author</h3>
<h4 th:text="${book.getBranchName() + ', ' + book.getAmount() + ' peaces'}"> Branch</h4>
<hr>
<a th:text="${book.getPlot()}"></a>

<form th:method="POST" th:action="@{/account/add-cart/{id} (id =${book.getId()})}">
    <input type="submit" value="Add book"/>
</form>

</body>
</html>