<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Successful</title>
    <style>
        .button {
            position: absolute;
            top: 60px; left: 30px;
            width: 157px;
            height: 39px;

            background: rgba(82, 255, 38, 0.56);
            border: 1px solid rgba(0, 0, 0, 0.5);
            box-sizing: border-box;
        }
    </style>
</head>
<h3 style="text-indent: 55px">              Successful</h3>
<a href = "/account">
<button class="button">Go back</button>
    </a>
<body>

</body>
</html>